body{
    background: #0000ff ;
}

.pallete{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    margin: 7% 0;
}
.pallete .one-item .one-color {
    margin: 7px 20px 30px;
    border: 3px solid #e3e3e3;
}
.pallete .one-item .one-color .bg{
    height: 180px;
    width: 180px;
    background: #ff0000;
}
.pallete .one-item .one-color .code{
    text-align: center;
    background: #FFFFFF;
    padding: 7px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}
.back button{
    position: fixed;
    right: 15px;
    bottom: 40px;
    padding: 8px 10px;
    border-radius: 50%;
    border: none;
    background: #FFFFFF;
    cursor: pointer;
}



@media (max-width:1033px){
    .pallete{
        margin: 12% 0;
    }
}

@media (max-width:578px){
    .pallete{
        margin: 18% 0;
    }
}

@media(min-width:1575px){
    .pallete{
        width: 90%;
        margin: 7% auto 0;
    }
}
@media(max-width:1300px){
    .pallete{
        width: 85%;
        margin: 8% auto 0;
    }
}
@media(max-width:550px){
    .pallete{
       margin: 15vh 0;
    }
}